*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background:rgb(0, 0, 25);
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  /* font-size:clamp(1.5rem 2.2vh 3rem) */
}
header{
  width:100%;
  min-height:100vh;
  background:linear-gradient(rgb(0, 0, 30),rgb(0,0,30,0.3)),url(images/digital-dark-wavy-background_.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-container{
  position:relative;
  width:50px;
  height:40px;
  padding-inline: 4px;
  padding-block:7px;
  border-radius:5px;
  border:2px solid blueviolet;
 
}
.menu-btn, 
.menu-btn::after, 
.menu-btn::before{
  position: absolute;
  width:40px;
  height: 5px;
  border-radius:10px;
  background-color: blueviolet; 
  transition:all 0.5s;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%)
} 
.menu-btn::before{
  content:"";
  background-color:#f44336;
  transform: translate(-20px, -12px);
}
.menu-btn::after{
content:"";
transform: translate(-20px, 9px);
background-color:#f44336;
}

 .toggle-icon .menu-btn::before{
  transform: translateX(-20px) rotate(-45deg);
}
 .toggle-icon .menu-btn::after{
  transform: translateX(-20px) rotate(45deg);
}
  .toggle-icon .menu-btn{
  background-color: transparent;
}

.show-nav{
  position:fixed;
  background:rgb(11, 11, 68);
  width:100%;
  top:0;
  left:0;
  z-index: 2;
}

.fixed-nav{
  padding:1.5rem 10%;
}
.container{
  padding:10px 10%;
}

nav{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style-type: none;
}
 .fixed-nav ul li {
  display:inline-block;
  margin-inline:10px;
}

ul a{
  text-decoration: none;
  font-size: 18px;
  color :white;
  position:relative;
}
ul a::after{
content:"";
width:0;
height:3px;
background-color:#f44336;
position:absolute;
left:0;
bottom:-5px;
transition: all 0.4s linear;
}
ul a:hover::after{
width:100%;
border-radius: 10px;
}
.logo{
  font-size: 23px;
  display:inline;
  position:relative;
}
h3 span{
  color:blueviolet;;
}

.underline{
  background-color:blueviolet;;
  width:100%;
  height:3px;
  position:absolute;
  bottom:-3px;
  left:0;
  border-radius: 10px;
}
 .underline::after{
  content:"";
  width:50%;
  bottom:-7px;
  left:0;
  background-color:#f44336;;
  height:3px;
  position:absolute;
  border-radius: 10px;
}
.header-text{
  padding-inline:10%;
   margin-top:20%;
}
.header-text h1{
  font-size: 50px;
  margin-bottom: 40px;
}
.header-text h1 span{
  color:blueviolet;;
}
@media (max-width:768px) {
  .perspective{
    margin:10px auto;
    perspective:70px;
    width:120px;
    height:120px;
    border:2px solid blueviolet;
    border-radius:5px;
  }
  .shape{
    width:120px;
    height:120px;
    background-color:rgb(11, 11, 68);
    transform:rotateX(45deg);
  }
}
.stars{
  position:absolute;
  right:100px;
}
.fa-star{
  animation:rotate 2s infinite linear;
}
@keyframes rotate{
  1%{
    transform:translateX(-100px) rotate(360deg)
  }
}

/* -------------About-------------- */
#about{
  padding:60px 10px;
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-col1{
  flex-basis: 30%;
}
.about-col2{
  flex-basis:60%;
}
.about-col1 img{
  width:100%;
  overflow: hidden;
  border-radius: 10px;
}
.fa-github{
  color:white;
}
.sub-title{
  padding-bottom:10px;
  font-size:50px;
  font-weight:500;
  color:blueviolet
}
.about-text{
  padding-bottom:20px;
  line-height:20px;
  font-size:17px;
  letter-spacing: 2px;
  padding-right: 10px;

}
.fa-react{
  color:darkcyan;
}
.fa-css3{
  color:lightseagreen;
}
.fa-html5{
  color:#f44336;
}
.fa-square-js{
  color:yellow;
}
.links{
  display:inline-block;
  margin:0 50px 7px 0;
  cursor: pointer;
  font-size:20px;
  padding:4px;
  background-color: blueviolet;
  border-radius:10px;
}

.links.active-link{
color:blueviolet;
border-bottom:2px solid #f44336;
 border-right:2px solid #f44336;  
 border-radius:10px;
 transition:border-radius 0.5s linear;
 cursor: pointer;
 background-color: #f44336;
 animation:bounce 0.5s ease-in-out infinite;
 transition:all 1s;
}
@keyframes bounce {
  0%{
    transform:scale(1)
  }
  50%{
    transform:scale(1.1)
  }
  100%{
    transform:scale(1)
  }
}
.p{
  margin-top: 6px;
}
.p span{
  color:blueviolet;
  font-style:oblique;
  font-size:14px;

} 
.skill-grid{
  display:grid;
  grid-template-columns: repeat(2, 155px);
  margin-top:15px;
  grid-gap:15px;
}
 .contents{
 display:none;
}
 .contents.active-content{
  display:block;
 } 
 /* ----------------Services------------------------ */
 #services{
  padding:60px 0;
 }

 .service-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:30px;
  margin-top:10px;
 }
 .service-grid div{
  padding:20px;
  background-color:rgb(6, 6, 46);
  border-radius:10px;
  box-shadow: 0 0 7px whitesmoke;
  transition:all 0.5s;
  color:whitesmoke;
  text-align:center;
 }
 
 .service-grid div:hover{
  box-shadow: 0 0 10px whitesmoke;
  cursor: pointer;
 }

 .service-grid h2{
  margin: 10px 0;
 }
 /* -------------Portfolio------------------ */
 #portfolio{
  padding:60px 10px;
 }
 .project-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:30px;
  margin-bottom:30px;
 }
 .project-grid-col img{
  width:100%;
  object-fit: contain;
  height:auto;
  overflow:hidden ;
  transition:transform 0.5s;
 }
 .project-grid-col:hover img{
  transform: scale(1.1);
 }
 .project-grid-col{
  width: 100%;
  height:100%;;
  border-radius:10px;
  position:relative;
  color:black;
  padding:0 auto ;
 }

 .items{
  position:absolute;
  left:5%;
  top:30%;
  transform: translate(-50% -50%);
  width:100%;
  overflow: hidden;
  height:250px;
  padding:0 50px;
  text-align: center;
 }

 .items p{
font-size: 20px;
padding: 10px  0px;
 }
 .items i,
.items h4{
  display:block;
  font-size:22px;
  color:blueviolet;
 }
 .project-grid-col img{
  border-radius:10px;
 }
 
 /* ---------------Contact-------------------- */
 #contact{
  padding:50px 0;
 }
 .contact-col1{
  flex-basis:30%;
  padding:10px 0px;
 }
 .contact-col2{
  flex-basis:55%;
 }
 .grid-col2{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
  padding:80px 2px 0;
 line-height:20px;
 } 
.details p{
  padding-top:5px;
}
.contact-text{
  line-height:20px;
  font-size:16px;
  letter-spacing: 2px;
  padding-right: 10px;
}
.details a{
  text-decoration: none;
  color:antiquewhite;
}

.fa-square-whatsapp{
  color:rgb(13, 212, 13);
}
.fa-brands,
.fa-regular,
.fa-solid{
  font-size:22px;
  padding:0 6px;
}
.cv{
  border:2px solid rgb(243, 65, 243);
   border-radius:5px;
   padding:5px;
   text-align:center;
   margin-top: 20px;;
}
.cv a{
  text-decoration: none;
  color:white;
  font-size:20px;
}
.details{
text-align: center;
  padding:10px;
  border-radius:10px;
  background: linear-gradient(45deg, rgb(50, 10, 88),
 65%, rgb(243, 65, 243));
 box-shadow:0 4px 4px 0  rgb(243, 65, 243);
 transform:skew(5deg);
 color:white;
}

.link-2{
  position:fixed;
  right:30px;
  bottom:200px;
  font-size:30px;
  background-color: #f44336;
  padding:5px;
  border-radius:10px;
  animation: bounce 1s infinite linear;
  opacity:0;
  display:inline-block;
}
.fa-angle-up{
  font-size:25px;
}
.link-2.top-link{
  opacity:1;
}

#footer{
  padding: 30px 0;
  text-align: center;
  background:rgb(7, 7, 49);
 
}
#footer span{
  color:blueviolet;
}
/* ------------media query for mobile devices ---------------- */
.open,
.close{
  display :none;
}
@media  (max-width:800px){
.side-menu{
  position:fixed;
  width:100%;
  height:100vh;
  background:rgb(11, 11, 68);
  z-index:2;
  font-size:18px;
  top:70px;
  right:-100%;
  transition: right 0.7s;
  text-align: center;
}
.side-menu.side-bar{
  right:0;
}
.open{
  display :block;
}
.fixed-nav ul li{
 display:block;
 margin:30px 25px;

}
.flex-container{
  display:flex;
  flex-wrap: wrap;
}
.contact-col1{
  flex-basis:100%;
}
.about-col1,.about-col2{
  flex-basis:100%;
}
.sub-title{
  padding:20px 0;
  font-size: 30px;
}
.grid-col2{
  grid-template-columns:1fr;
  padding-top: 10px;
  font-size:18px;
  font-weight: 500;
}
.contact-text,
 .about-text{
  line-height:25px;
  font-size:19px;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-right: 10px;
}
.details{
  font-size: 20px;
}
.contents p{
  font-size: 18px;
}
.p span{
font-size: 18px;
}
.header-text{
  font-size: 23px;
}
#about{
  padding-top:20px;
}
.footer{
  font-size: 18px;
}
.header-text h1{
  font-size: 30px;
  margin-bottom: 40px;
}
}
