* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: rgb(97, 94, 94);

  position: relative;
}
.theme {
  color: rgb(201, 196, 196);
  background-color: #1c1e26;
}
header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 18, 18);
  z-index: 999;
}
.content {
  position: absolute;
  top: 50%;
  left: 45%;
  padding: 10px;
  transform: translate(-50%, -50%);
  border: 4px solid red;
  border-radius: 50%;
  animation: rotate 0.3s infinite;
  border-top-color: greenyellow;
  border-right-color: purple;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.fa-arrow-down {
  animation: moveUpDown 1.5s ease infinite alternate;
}

.btn-container {
  position: relative;
  width: 50px;
  height: 40px;
  padding-inline: 4px;
  padding-block: 7px;
  border-radius: 5px;
  border: px solid rgb(221, 199, 160);
  z-index: 3;
  cursor: pointer;
  transition: border 0.3s;
}

.menu-btn,
.menu-btn::after,
.menu-btn::before {
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background-color: bl;
  transition: all 0.5s;
  left: 50%;
  top: 50%;
  background-color: rgb(169, 165, 165);
  transform: translate(-50%, -50%);
}
.menu-btn::before {
  content: "";
  background-color: rgb(169, 165, 165);
  transform: translate(-20px, -12px);
}
.menu-btn::after {
  content: "";
  transform: translate(-20px, 9px);
  background-color: rgb(169, 165, 165);
}

.toggle-icon .menu-btn::before {
  transform: translateX(-20px) rotate(-45deg);
}
.toggle-icon .menu-btn::after {
  transform: translateX(-20px) rotate(45deg);
}
.toggle-icon .menu-btn {
  background-color: transparent;
}

.fixed-nav {
  padding: 19px 5%;
  width: 100%;
  transition: top 1s;
  top: -100px;
  box-shadow: 0px 2.5px 2px rgb(241, 240, 240);
  background: #ffff;
}
.theme :is(.footer-container) {
  background-color: rgb(19, 18, 18);
  color: rgb(201, 196, 196);
}
.theme .fixed-nav {
  background-color: #1c1e26;
  box-shadow: 0px 1px 1px rgb(106, 103, 103);
  color: rgb(201, 196, 196);
}

.fixed-nav.show-nav {
  position: fixed;

  z-index: 50;
  top: 0;
  left: 0;
}
.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
}
.fixed-nav ul li {
  display: inline-block;
  margin-inline: 10px;
  font-weight: 500;
}

ul a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(124, 120, 120);
  position: relative;
  transition: all 0.5s;
  font-weight: 500;
}
.theme ul a {
  color: rgb(201, 196, 196);
}
ul a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(52, 92, 211);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.4s linear;
}
ul a:hover::after {
  width: 100%;
  border-radius: 10px;
}

.logo {
  font-size: 23px;
  display: inline;
  position: relative;
  z-index: 3;
  color: rgb(148, 143, 143);
}
.theme .logo {
  color: rgb(201, 196, 196);
}
h3 span {
  color: rgb(52, 92, 211);
}

.underline {
  background-color: rgb(52, 92, 211);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 10px;
}
.underline::after {
  content: "";
  width: 50%;
  bottom: -7px;
  left: 0;
  background-color: rgb(52, 92, 211);
  height: 3px;
  position: absolute;
  border-radius: 10px;
}

.header-left h1 {
  font-size: 40px;
  color: rgb(148, 143, 143);
}
.theme .header-right h1 {
  color: rgb(201, 196, 196);
}
.header-left h1 span {
  color: rgb(52, 92, 211);
}
.btn-flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
#arrow {
  font-size: 18px;
  padding-left: 20px;
}
.btn,
.cv {
  border: 0;
  cursor: pointer;
  padding: 8px;
  background: #ffff;
  color: rgb(73, 112, 227);
  text-wrap: nowrap;
  border: 2.5px solid royalblue;
  font-weight: 500;
  font-size: 18px;
  border-radius: 20px;
}

:is(.btn, .cv):hover {
  background: #ffff;
  border: 2.5px solid royalblue;
}
.cv a {
  color: rgb(73, 112, 227);
}
.img {
  margin-bottom: 20px;
  display: block;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: all 2.3s;
}
.scale-img {
  transform: scale(1.2);
}
.sass {
  margin-left: 10px;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
}
.type-container {
  width: 70%;
  text-transform: capitalize;
}
.header-left {
  flex-basis: 70%;
}
.header-right {
  margin-top: 30px;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}
.header-desc p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 7px;
}
.header-desc {
  margin-top: 6px;
}
.intro {
  margin: 20px 0;
  width: 70%;
  font-weight: 500;
  line-height: 24px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
  float: left;
}
.icons a {
  width: 35px;
  height: 35px;

  border: 2.5px solid royalblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
}
.icons a:hover {
  background: #ffff;
}

/* -------------About-------------- */
.about {
  padding: 60px 10px;
}
.theme :is(.about, .contact) {
  background-color: #1c1e26 !important;
  color: rgb(209, 202, 202) !important;
}

@media (max-width: 768px) {
  .about-title,
  .service-title,
  .work-title,
  .contact-title {
    opacity: 0;
    position: relative;
    left: -200px;
    transition: all 1.3s ease-in-out;
  }

  .about-title.show-about-t,
  .service-title.show-service-t,
  .work-title.show-work-t,
  .contact-title.show-contact-t {
    opacity: 1;
    left: 0;
    transform-origin: left;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-col1 {
  flex-basis: 35%;
  height: auto;
  overflow: hidden;
}
.about-col2 {
  flex-basis: 60%;
}
.about-col1 img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  height: fit-content;
}

.sub-title {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(52, 92, 211);
}
.about-text {
  padding-bottom: 20px;
  line-height: 27px;
  font-size: 16px;
  padding-right: 10px;
}
.fa-react {
  color: darkcyan !important;
}
.fa-css3 {
  color: lightseagreen !important;
}
.fa-html5 {
  color: #f88838 !important;
}
.fa-square-js {
  color: #f88838 !important;
}
.skill-grid .fa-github {
  color: rgb(109, 107, 107);
}
.links {
  white-space: nowrap;
  margin: 0 20px 7px 0;
  font-size: 17px;
  padding: 8px;
  color: grey;
  border: 2.5px solid royalblue;

  background-color: #ffff;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.links:hover {
  cursor: pointer;
  background: #f3f1f1;
}

.links.active-link {
  background: linear-gradient(purple, royalblue);
  color: white;
  text-wrap: nowrap;
  border: 2.5px solid royalblue;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.p {
  margin-top: 6px;
  line-height: 24px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 15px;
  margin-left: -11px;
  grid-gap: 10px;
}
.skill-grid p {
  margin-top: 15px;
  text-wrap: nowrap;
}
.contents {
  display: none;
}
.contents.active-content {
  display: block;
}
/* ----------------Services------------------------ */
#services {
  padding: 60px 0 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 10px;
  opacity: 1;
}

.service-details p {
  margin-bottom: 45px;
  line-height: 27px;
}
.service-details i {
  color: rgb(52, 92, 211);
  font-size: 20px;
  margin-left: 150px;
}
.service-grid div {
  padding: 10px 20px;
  background: #f3f1f1;
  border-radius: 10px;
  border: 1px solid grey;
  transition: all 0.5s;
  color: rgb(139, 133, 133);
  text-align: center;
}
.theme :is(.service-grid div, .items, .details, input, textarea) {
  background-color: #837d7d;
  color: rgb(202, 198, 198);
}
.service-grid div:hover {
  background-color: rgb(217, 211, 201);
}

h2 span {
  color: rgb(52, 92, 211);
}
h2 {
  font-size: 25px;
}
.service-grid div:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.service-grid h2 {
  padding: 10px 0;
}
.service-grid p {
  padding: 8px 17px;
  line-height: 23px;
}

.fa-app-store-ios,
.fa-code,
.fa-crop {
  color: rgb(52, 92, 211) !important;
  font-size: 30px !important;
}
.details i {
  color: rgb(78, 113, 216);
}
/* -------------Projects------------------ */
#project {
  padding: 45px 0 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.project-grid-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-container h3 {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  padding: 17px 5px;
  margin-top: -7px;
  color: rgb(151, 148, 148);
  background-color: #efefef;
}

.project-grid-col {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: black;
  padding: 20px auto;
  border: 1px solid grey;
}
.project-container {
  position: relative;
}
.project-container:hover .items {
  height: 100%;
  background-color: #a7a2a2;
  color: rgb(17, 16, 16);
  position: absolute;
  cursor: pointer;
  z-index: 2;
  transition: all 1s ease-in;
}

.fa-up-right-from-square {
  position: absolute;
  z-index: 5;
  bottom: 15px;
  left: 3%;
  color: rgb(52, 92, 211);
}
.items h5 {
  padding-top: 15px;
  font-size: 15px;
}
.items {
  width: 100%;
  height: 0;
  padding: 5px 5%;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-size: 15px;

  background-color: #efefef;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 2s ease-in;
  z-index: -2;
}
.theme :is(.contact, .about) {
  background-color: rgb(26, 24, 24);
}

.items h4 {
  display: block;
  font-size: 18px;
  padding: 7px 5px;
}

/* ---------------Contact-------------------- */
.contact {
  background-color: #efefef;
  padding: 60px 0;
}

.contact-container {
  padding: 0 5%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.form input,
textarea {
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  border: none;
  border: 1.5px solid rgb(216, 214, 214);
  outline: none;
  caret-color: royalblue;
}

:is(input, textarea)::placeholder {
  color: grey;
  font-size: 16px;
}
.theme :is(input, textarea)::placeholder {
  color: rgb(210, 208, 208);
}
input {
  padding: 10px 15px;
}
#form-btn {
  background: linear-gradient(purple, royalblue);
  color: white;
  width: 40%;
  border: 2.5px solid royalblue;
  transition: all 0.5s ease;
}
#form-btn:hover {
  background: rgb(202, 214, 248);
  border: 2.5px solid royalblue;
  color: grey;
}

.contact-col1 {
  flex-basis: 35%;
  padding: 10px 0px;
}
.contact-col2 {
  flex-basis: 50%;
}
.grid-col2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 80px 2px 0;
  line-height: 20px;
}
.details p {
  padding-top: 5px;
}
.contact-text {
  line-height: 26px;
  font-size: 16px;
  padding-right: 10px;
}
.theme .contact-text {
  color: rgb(170, 168, 168);
}
.theme .details a {
  text-decoration: none;
}

.theme-btn {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 30px;
}
.theme .theme-btn span {
  transform: translateX(20px);
  transition: all 0.3s;
}
.theme-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.fa-brands,
.fa-regular,
.fa-solid {
  font-size: 20px;
  padding: 0 6px;
  color: royalblue !important;
}

.details {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  color: rgb(206, 203, 203);
  background-color: #ffff;
  box-shadow: 0 0 7px 0 #ea64;
  border: 1.5px dotted rgb(216, 214, 214);
  border-left: none;
  border-top: none;
}

.details p {
  color: rgb(129, 125, 125);
}
.theme .details p {
  color: rgb(211, 209, 209);
}
.link-2 {
  position: fixed;
  right: 25px;
  bottom: 55px;
  background: linear-gradient(purple, royalblue);

  padding: 3px;
  border-radius: 6px;
  animation: bounce 1s infinite linear;
  opacity: 0;
  display: inline-block;
}
.fa-angle-up {
  font-size: 23px;
  color: white !important;
}
.link-2.top-link {
  opacity: 1;
}

.footer-container {
  padding: 30px 0;
  text-align: center;
  background: #ffff;
  color: grey;
  font-size: 18px;
  font-weight: 600;
}
#footer p {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

/* ------------media query for mobile devices ---------------- */
.open {
  display: none;
}
@media (max-width: 768px) {
  .side-menu {
    position: fixed;
    width: 280px;
    height: 100vh;
    background: #ffff;
    z-index: 2;
    font-size: 18px;
    top: 0;
    right: -280px;
    transition: right 0.7s;
    text-align: center;
    padding-top: 95px;
  }
  .side-menu.side-bar {
    right: 0;
  }
  .open {
    display: block;
  }
  .fixed-nav ul li {
    display: block;
    margin: 30px 25px;
  }
  .header-flex {
    flex-wrap: wrap-reverse;
  }
  .fixed-nav {
    padding: 15px 10%;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-col1 {
    flex-basis: 100%;
  }
  .contact-col2 {
    flex-basis: 100%;
  }
  .about-col1,
  .about-col2 {
    flex-basis: 100%;
  }
  .sub-title {
    padding: 20px 0;
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .grid-col2 {
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .contact-text,
  .about-text {
    line-height: 27px;
    font-size: 16px;
    padding-right: 10px;
  }

  .details {
    font-size: 15px;
  }
  .contents p {
    font-size: 15px;
    margin-left: 3px;
  }
  .p span {
    font-size: 16px;
  }
  .span {
    font-size: 15px;
    font-weight: 500;
  }

  p span {
    font-size: 16px;
  }

  .header-left {
    font-size: 20px;
  }
  .header-right {
    margin-bottom: 30px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    position: relative;
  }
  .items {
    padding: 5% 5%;
  }
  .header-left {
    flex-basis: 100%;
  }

  #about {
    padding-top: 20px;
  }
  .footer {
    font-size: 14px;
    font-weight: 500;
  }
  .header-left h1 {
    font-size: 30px;
  }
  .p1 {
    padding-left: 10px;
  }
  .service-grid p {
    font-size: 14px;
  }
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-desc p {
    margin-top: 10px;
    display: none;
  }

  .intro,
  .type-container {
    width: 100%;
  }
  .intro {
    margin: 25px 0;
  }
}
