* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.theme {
  background-color: rgb(26, 24, 24);
  color: rgb(209, 202, 202);
}
header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: black;
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ea6405;
  z-index: 999;
}
.content {
  position: absolute;
  top: 50%;
  left: 45%;
  padding: 10px;
  transform: translate(-50%, -50%);
  border: 4px solid red;
  border-radius: 50%;
  animation: rotate 0.3s infinite;
  border-top-color: greenyellow;
  border-right-color: purple;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.fa-arrow-down {
  animation: moveUpDown 1.5s ease infinite alternate;
}

.btn-container {
  position: relative;
  width: 50px;
  height: 40px;
  padding-inline: 4px;
  padding-block: 7px;
  border-radius: 5px;
  border: 2px solid #c45508;
  z-index: 3;
  cursor: pointer;
  transition: border 0.3s;
}

.menu-btn,
.menu-btn::after,
.menu-btn::before {
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: #c45508;
  transition: all 0.5s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn::before {
  content: "";
  background-color: #c45508;
  transform: translate(-20px, -12px);
}
.menu-btn::after {
  content: "";
  transform: translate(-20px, 9px);
  background-color: #c45508;
}

.toggle-icon .menu-btn::before {
  transform: translateX(-20px) rotate(-45deg);
}
.toggle-icon .menu-btn::after {
  transform: translateX(-20px) rotate(45deg);
}
.toggle-icon .menu-btn {
  background-color: transparent;
}

.fixed-nav {
  background: rgb(221, 199, 160);
  padding: 19px 10%;
  width: 100%;
  transition: top 1s;
  top: -100px;
}
.theme :is(.fixed-nav, .footer-container) {
  background-color: rgb(217, 213, 213);
}

.fixed-nav.show-nav {
  position: fixed;
  box-shadow: 0 2px 0 rgb(22, 22, 22);
  z-index: 50;
  top: 0;
  left: 0;
}
.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
}
.fixed-nav ul li {
  display: inline-block;
  margin-inline: 10px;
  font-weight: 500;
}

ul a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  position: relative;
  transition: all 0.5s;
}
ul a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #c45508;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.4s linear;
}
ul a:hover::after {
  width: 100%;
  border-radius: 10px;
}

.logo {
  font-size: 23px;
  display: inline;
  position: relative;
  z-index: 3;
  color: black;
}

h3 span {
  color: #ea6405;
}

.underline {
  background-color: #ea6405;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 10px;
}
.underline::after {
  content: "";
  width: 50%;
  bottom: -7px;
  left: 0;
  background-color: #ea6405;
  height: 3px;
  position: absolute;
  border-radius: 10px;
}

.header-left h1 {
  font-size: 40px;
}
.header-left h1 span {
  color: #c45508;
}
.btn-flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
#arrow {
  font-size: 23px;
  padding-left: 20px;
}
.btn,
.cv {
  border: 0;
  cursor: pointer;
  padding: 8px;
  color: #fc700c;
  background-color: transparent;
  border: 2px solid #ea6405;
  font-weight: 500;
  font-size: 18px;
  border-radius: 20px;
}

.img {
  margin-bottom: 10px;
  display: block;
  object-fit: cover;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  transition: all 2.3s;
}
.scale-img {
  transform: scale(1.2);
}
.sass {
  margin-left: 10px;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
}
.type-container {
  width: 70%;
  text-transform: capitalize;
}
.header-left {
  flex-basis: 70%;
}
.header-right {
  margin-top: 15px;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.header-desc p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 3px;
}
.header-desc {
  margin-top: 6px;
}
.intro {
  margin: 20px 0;
  width: 70%;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
  float: left;
}
.icons a {
  width: 35px;
  height: 35px;
  border: 2px solid #ea6405;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #efefef;
}

.btn:hover {
  cursor: pointer;
  background-color: #e0c6b3;
}
.cv:hover {
  cursor: pointer;
  background-color: #e0c6b3;
}

.cv a {
  text-decoration: none;
  color: #fc700c;
  font-size: 16px;
  text-wrap: nowrap;
}

/* -------------About-------------- */
.about {
  background: #efefef;
  padding: 60px 10px;
}

@media (max-width: 768px) {
  .about-title,
  .service-title,
  .work-title,
  .contact-title {
    opacity: 0;
    position: relative;
    left: -200px;
    transition: all 1.3s ease-in-out;
  }

  .about-title.show-about-t,
  .service-title.show-service-t,
  .work-title.show-work-t,
  .contact-title.show-contact-t {
    opacity: 1;
    left: 0;
    transform-origin: left;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-col1 {
  flex-basis: 35%;
  height: auto;
  overflow: hidden;
}
.about-col2 {
  flex-basis: 60%;
}
.about-col1 img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  height: fit-content;
}
.fa-github {
  color: black;
}
.sub-title {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #ea6405;
}
.about-text {
  padding-bottom: 20px;
  line-height: 26px;
  font-size: 16px;
  padding-right: 10px;
}
.fa-react {
  color: darkcyan;
}
.fa-css3 {
  color: lightseagreen;
}
.fa-html5 {
  color: #ea6405;
}
.fa-square-js {
  color: #ea6405;
}
.skill-grid .fa-github {
  color: black;
}
.links {
  white-space: nowrap;
  margin: 0 20px 7px 0;
  font-size: 17px;
  padding: 8px;
  background-color: #dcb9a1;
  border-radius: 20px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.links:hover {
  cursor: pointer;
}

.links.active-link {
  color: white;
  background-color: #ea6405;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.p {
  margin-top: 6px;
}
.p span {
  font-style: oblique;
  font-size: 14px;
}
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 15px;
  margin-left: -11px;
  grid-gap: 10px;
}
.skill-grid p {
  margin-top: 10px;
}
.contents {
  display: none;
}
.contents.active-content {
  display: block;
}
/* ----------------Services------------------------ */
#services {
  padding: 60px 0 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 10px;
  opacity: 0;

  transition: all 1.5s ease;
}
.service-grid.display-service {
  opacity: 1;
  transform: translateY(-30px);
}

.service-details p {
  margin-bottom: 45px;
}
.service-details i {
  color: #ea6405;
  font-size: 20px;
  margin-left: 150px;
}
.service-grid div {
  padding: 20px;
  background-color: #e5e4e4;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(22, 22, 22);
  transition: all 0.5s;
  color: black;
  text-align: center;
}
.theme :is(.service-grid div, .items, .details, input, textarea) {
  background-color: #9f9999;
}
.service-grid div:hover {
  background-color: rgb(221, 199, 160);
}

h2 span {
  color: #ea6405;
}
h2 {
  font-size: 25px;
}
.service-grid div:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.service-grid h2 {
  padding: 10px 0;
}
.service-grid p {
  padding: 8px 17px;
  line-height: 23px;
}

.fa-app-store-ios,
.fa-code,
.fa-crop {
  color: #ea6405;
  font-size: 25px;
}
.details i {
  color: #ea6405;
}
/* -------------Projects------------------ */
#project {
  padding: 45px 0 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
}
.project-grid-col img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.project-grid-col:hover {
  transform: scale(1.05);
}
.project-grid-col {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  color: black;
  padding: 20px auto;
  overflow: hidden;
  transition: transform 0.5s;
}

.fa-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ea6405;
  z-index: 5;
}
.fa-up-right-from-square {
  position: absolute;
  z-index: 5;
  bottom: 15px;
  left: 3%;
  color: white;
}
.items {
  margin: 0 auto;
  width: 100%;
  padding-inline: 15px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #e5e4e4;
  line-height: 20px;
  position: absolute;
  top: 50%;
  bottom: 0;
}
.theme :is(.contact, .about) {
  background-color: rgb(26, 24, 24);
}

.items h4 {
  display: block;
  font-size: 17px;
  color: #ea6405;
  padding: 10px;
}

/* ---------------Contact-------------------- */
.contact {
  background: #efefef;
  padding: 60px 0;
}

.contact-container {
  padding: 0 5%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.form input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding-left: 15px;
  border: none;
  box-shadow: 0 0 2px rgb(22, 22, 22);
  caret-color: red;
}
:is(input, textarea):focus {
  outline: none;
}
:is(input, textarea)::placeholder {
  color: rgb(35, 34, 34);
}

input {
  height: 30px;
}
#form-btn {
  background-color: #f2741a;
  color: white;
  width: 40%;
  transition: all 0.5s;
}
#form-btn:hover {
  background-color: #dcb9a1;
  border: 2px solid #f56f10;
}

.contact-col1 {
  flex-basis: 35%;
  padding: 10px 0px;
}
.contact-col2 {
  flex-basis: 50%;
}
.grid-col2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 80px 2px 0;
  line-height: 20px;
}
.details p {
  padding-top: 5px;
}
.contact-text {
  line-height: 26px;
  font-size: 16px;
  padding-right: 10px;
}
.details a {
  text-decoration: none;
  color: antiquewhite;
}
.fa-paper-plane,
.fa-phone {
  color: #ea6405;
}
.theme-btn {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 30px;
}
.theme .theme-btn span {
  transform: translateX(20px);
  transition: all 0.3s;
}
.theme-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.fa-brands,
.fa-regular,
.fa-solid {
  font-size: 20px;
  padding: 0 6px;
}

.details {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 7px 0 #ea64;
  border: 2px dotted #ea6405;
  border-left: none;
  border-top: none;
}

.details p {
  color: rgb(38, 36, 36);
}
.link-2 {
  position: fixed;
  right: 25px;
  bottom: 55px;
  background-color: #ea6405;
  padding: 3px;
  border-radius: 6px;
  animation: bounce 1s infinite linear;
  opacity: 0;
  display: inline-block;
}
.fa-angle-up {
  font-size: 23px;
  color: white;
}
.link-2.top-link {
  opacity: 1;
}

.footer-container {
  padding: 30px 0;
  text-align: center;
  background: rgb(221, 199, 160);
  color: black;
  font-weight: 500;
}
#footer p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

/* ------------media query for mobile devices ---------------- */
.open {
  display: none;
}
@media (max-width: 768px) {
  .side-menu {
    position: fixed;
    width: 280px;
    height: 100vh;
    background: rgb(221, 199, 160);
    z-index: 2;
    font-size: 18px;
    top: 0;
    right: -280px;
    transition: right 0.7s;
    text-align: center;
    padding-top: 95px;
  }
  .side-menu.side-bar {
    right: 0;
  }
  .open {
    display: block;
  }
  .fixed-nav ul li {
    display: block;
    margin: 30px 25px;
  }
  .header-flex {
    flex-wrap: wrap-reverse;
  }
  .fixed-nav {
    padding: 15px 10%;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  #sass {
    margin-left: 13px;
  }
  .contact-col1 {
    flex-basis: 100%;
  }
  .contact-col2 {
    flex-basis: 100%;
  }
  .about-col1,
  .about-col2 {
    flex-basis: 100%;
  }
  .sub-title {
    padding: 20px 0;
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .grid-col2 {
    grid-template-columns: 1fr;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .contact-text,
  .about-text {
    line-height: 27px;
    font-size: 16px;
    padding-right: 10px;
  }

  .details {
    font-size: 15px;
  }
  .contents p {
    font-size: 15px;
    margin-left: 3px;
  }
  .p span {
    font-size: 16px;
  }
  .span {
    font-size: 15px;
    font-weight: 500;
  }

  p span {
    font-size: 16px;
  }

  .header-left {
    font-size: 20px;
  }
  .header-right {
    margin-bottom: 30px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    position: relative;
  }
  .header-left {
    flex-basis: 100%;
  }

  #about {
    padding-top: 20px;
  }
  .footer {
    font-size: 14px;
    font-weight: 500;
  }
  .header-left h1 {
    font-size: 30px;
  }

  .service-grid p {
    font-size: 14px;
  }
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-desc p {
    margin-top: 10px;
    display: none;
  }

  .fa-app-store-ios,
  .fa-code,
  .fa-crop {
    color: #ea6405;
    font-size: 25px;
  }
  .intro,
  .type-container {
    width: 100%;
  }
  .intro {
    margin: 25px 0;
  }
}
